.App {
  text-align: center;
}

.StorePage {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

#storeTitle {
  color: blue;
  border: 2px solid #2eadea;
  border-bottom: none;
  border-radius: 40px 40px 0px 0px;
  background-color: #addff7;
  width: 180px;
  margin: auto;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.CartModule {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 2%;
  margin-top: -10px;
  border: 2px solid #2eadea;
  border-top: none;
  border-radius: 0px 0px 20px 20px;
  background-color: #addff7;
  color: blue;
  padding: 10px;
}

.CartModule:hover {
  cursor: pointer;
}

.ShopItem {
  border: 2px solid #2eadea;
  border-radius: 10px;
  min-width: 10%;
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.itemName {
  margin: 5px;
  padding: 0px;
}

.pricing {
  margin: 10px;
  width: 100%;
  display: block;
}

.baseSale {
  text-decoration: line-through;
}

.salePrice {
  color: red;
  font-weight: bold;
  font-size: 110%;
  margin-left: 10px;
}

.badge {
  margin-top: 1px;
  font-size: 75%;
  border: 2px solid #2eadea;
  border-radius: 5px;
  background-color: #addff7;
  padding: 2px;
}

.itemName {
  margin-top: 1px;
}

.ratings {
  padding: 1px;
  max-width: 50%;
  margin-top: 2px;
  display: flex;
  margin: auto;
}

.ratings img {
  max-width: 80%;
  display: block;
  height: auto;
  align-self: center;
}

.textRating {
  font-size: 80%;
  width: 20%;
}

.productImgContainer {
  width: 100%;
  margin: 0px;
  margin-top: -10px;
}

.productImgContainer img {
  max-width: 100%;
  display: block;
  height: auto;
}

.buyNow {
  border: 1px solid #2eadea;
  border-radius: 5px;
  background-color: #addff7;
  width: 80%;
  margin: auto;
  margin-top: 5px;
}

.buyNow:hover {
  cursor: pointer;
}

.buyButton {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 100%;
  font-weight: normal;
  color: blue;
}

.FilterBar {
  border: 2px solid #2eadea;
  border-radius: 40px 0px 40px 0px;
  color: blue;
  background-color: #addff7;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

#filterTitle {
  text-align: left;
  margin: 0px;
}

.FilterItem {
  width: 120px;
  margin: 10px;
  display: inline-block;
  border-bottom: 1px solid #2eadea;
  font-size: 110%;
}

.FilterItem:hover {
  cursor: pointer;
}

.backToStore:hover {
  cursor: pointer;
  text-decoration: underline;
}

.removeItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.addItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.CartItem {
  border-bottom: 1px solid #2eadea;
  padding-bottom: 10px;
}

.addItemForm {
  width: 200px;
  padding: 10px;
  border: 2px solid #2eadea;
  border-radius: 0px 0px 40px 0px;
  background-color: #addff7;
  color: blue;
  font-size: 90%;
  border-top: none;
}

.addItemForm ul li {
  list-style-type: none;
  text-align: right;
}

#clickToExpand:hover {
  cursor: pointer;
  text-decoration: underline;
}

#hideElement {
  display: none;
}

#showElement {
  display: block;
  padding: 5px;
  text-align: right;
}

#addItemSubmit {
  border: 1px solid #2eadea;
  border-radius: 5px;
  background-color: #addff7;
  width: 80%;
  margin: auto;
  padding: 0px;
  padding-top: 2px;
  font-size: 100%;
  font-weight: normal;
  color: blue;
}

#addItemSubmit:hover {
  cursor: pointer;
  background-color: white;
}

.CartPage {
  background-color: #addff7;
  border: 2px solid #2eadea;
  border-radius: 40px;
  width: 90%;
  min-height: 150px;
  margin: auto;
  color: blue;
}

.cartTotal {
  font-weight: bold;
}

.backToStore {
  display: block;
  border-bottom: 1px solid #2eadea;
  width: 200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .addItemForm {
    width: 90%;
    padding: 10px;
    border-radius: 0px 0px 40px 40px;
  }

  .FilterBar {
    border-radius: 40px 40px 0px 0px;
  }

  .CartModule {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 0;
    border-bottom: none;
    border-top: 2px solid #2eadea;
    border-radius: 20px 20px 0px 0px;
    margin-top: 0px;
    margin-bottom: -10px;
  }
}
