.App {
  text-align: center;
}

.StorePage {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.ShopItem {
  position: relative;
}

.pricing {
  margin: 10px;
  display: block;
}

.baseSale {
  text-decoration: line-through;
}

.salePrice {
  color: red;
  font-size: 110%;
  margin-left: 10px;
}

.badge {
  font-size: 75%;
}

.ratings {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1px;
  width: 100%;
  margin-top: 2px;
}

.ratings img {
  max-width: 80%;
  display: block;
  height: auto;
}

.textRating {
  font-size: 80%;
  width: 20%;
  margin-top: -17px;
  float: right;
}

.FilterBar {
  border: 1px solid black;
  width: 150px;
  padding: 10px;
}

.FilterBar ul {
  padding: 0;
  list-style-type: none;
}

.FilterBar ul li {
  list-style-type: none;
}

.ShopItem {
  border: 1px solid black;
  width: 100px;
  margin: 10px;
  padding: 10px;
}
