.App {
  text-align: center;
}

.StorePage {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.ShopItem {
  border: 1px solid black;
  min-width: 10%;
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.itemName {
  margin: 5px;
  padding: 0px;
}

.pricing {
  margin: 10px;
  width: 100%;
  display: block;
}

.baseSale {
  text-decoration: line-through;
}

.salePrice {
  color: red;
  font-size: 110%;
  margin-left: 10px;
}

.badge {
  margin-top: 1px;
  font-size: 75%;
  border: 2px solid #2eadea;
  border-radius: 5px;
  background-color: #addff7;
  padding: 2px;
}

.itemName {
  margin-top: 1px;
}

.ratings {
  padding: 1px;
  max-width: 50%;
  margin-top: 2px;
  display: flex;
  margin: auto;
}

.ratings img {
  max-width: 80%;
  display: block;
  height: auto;
  align-self: center;
}

.textRating {
  font-size: 80%;
  width: 20%;
}

.productImgContainer {
  width: 100%;
  margin: 0px;
  margin-top: -10px;
}

.productImgContainer img {
  max-width: 100%;
  display: block;
  height: auto;
}

.buyNow {
  border: 1px solid #2eadea;
  border-radius: 5px;
  background-color: #addff7;
  width: 80%;
  margin: auto;
  margin-top: 5px;
}

.buyNow:hover {
  cursor: pointer;
}

.buyButton {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 100%;
  font-weight: normal;
  color: blue;
}

.FilterBar {
  border: 1px solid black;
  width: 150px;
  padding: 10px;
}

.FilterBar ul {
  padding: 0;
  list-style-type: none;
}

.FilterBar ul li {
  list-style-type: none;
}
